[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pycodestyle = "*"
autopep8 = "*"
rope = "*"
pydocstyle = "*"

[packages]
django = "*"

[requires]
python_version = "3.7"
